body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.background{
	display: inline-block;
	text-align: center;
	margin-top: 5%;
	height: 500px;
	background-color: #76ccc4;
	color: white;
	width: 50%;
}

.heading1{
	background-color: black;
	padding: 20px;
}

.data_table {
	width: 100%;
	
}

table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
  padding: 10px;
}

table{
	margin-bottom: 20px;
}